::placeholder {
    text-transform: none;
  }
  
  .home-buttons {
    width: 250px;
    margin: 10px;
  }
  
  .home-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home-container a {
    text-decoration: none;
  }
  
  .service-container {
    margin: 20px;
  }

  .services-table {
    margin: 20px;
  }
  
  .services-table th {
      width: 50%;
  }

  .services-table td {
    width: 50%;
    text-align: right;
  }
  
  .empty {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }