::placeholder {
    text-transform: none;
  }
  
  .home-buttons {
    width: 250px;
    margin: 10px;
  }
  
  .home-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home-container a {
    text-decoration: none;
  }
  
  .service-container {
    margin: 20px;
  }

  .services-table {
    margin: 20px;
  }
  
  .services-table th {
      width: 50%;
  }

  .services-table td {
    width: 50%;
    text-align: right;
  }
  
  .empty {
    margin: 10px;
    position: absolute;
    border: 1px solid black;
    width: calc(100% - 20px);
    height: calc(100% - 80px);
  }

  .empty p {
    margin: 0;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .empty-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  ul {
    padding: 0;
    margin: 0;
  }